<!-- Hero with Image -->
<app-hero-section [hero]="hero">
</app-hero-section>
  
<!-- Figures - 1.5M -->
<app-figure-section [figures]="figures">
</app-figure-section>

<!-- Our Origins, Our Beliefs, Our Goals -->
<app-about-us-section [aboutUsList]="aboutUsList">
</app-about-us-section>

<!-- Stay Updated, Faster Learning ... -->
<app-motivation-section [motivations]="motivations">
</app-motivation-section>

<!-- Every Day, More Nursing... - Testimonials -->
<app-testimonial-section [title]="testimonialTitle" [testimonials]="testimonials">
</app-testimonial-section>