<div class="testimonials-section">
  <div class="title">
    <h3>{{title}}</h3>
  </div>
  <ngb-carousel class="carousel-list">
    <ng-template ngbSlide class="carousel-item" *ngFor="let testimonials of slides">
      <div class="item-wrapper" *ngFor="let testimonial of testimonials">
        <div class="story">
            {{testimonial.content}}
          </div>
          <div class="teller">
            <div class="avatar">
              <img src="{{testimonial.avatarUrl}}" />
            </div>
            <div class="details">
              <div class="name">
                {{testimonial.fullName}}
              </div>
              <div class="position">
                {{testimonial.position}}
              </div>
              <div class="company">
                {{testimonial.company}}
              </div>
            </div>
          </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>